.active .growIn {
    -webkit-animation-name: growIn;
    animation-name: growIn;
}

.active .bounceInRight  { 
    -webkit-animation-name: bounceInRight; 
    animation-name: bounceInRight; 
}

.active .bounceInDown  {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

.active .bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}

.active .bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

.active .fadeInUpShort {
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
}

.active .fadeInDownShort {
    -webkit-animation-name: fadeInDownShort;
    animation-name: fadeInDownShort;
}
