// Fonts
$font-primary : 'museo_sans500';
$font-secondary : 'Open Sans';

// Font sizes
$base-font-size: 16px;

//Colors
$color-primary: #414042;
$color-secondary: #d83454;
$color-top-nav: #575656;
$color-teritiary: #5b6172;

$bg-primary: #f1f2f2;
$bg-secondary: #d83454;
$bg-footer: #454850;
$bg-btn: #d83454;


//Layout
$actual-width: 1170;
